<div class="race-info">

<%  unless @race.goal.nil? 
        goal = @race.goal
    end %>

<%= content_tag :h1 do %> 

<%= link_to(@race.game.name, Game.find(@race.game.id)) -%> - <%= link_to(goal, @race.url) -%>    
<% end %>



<table>
<tr>
<th>Player</th>
<th>Time</th>
<th>Comment</th>
</tr>

<% @race.placements.each do |p|%>
    <tr>
        <td><%=link_to p.player.name, p.player%></td>
        <td><%= Time.at(p.time).utc.strftime("%H:%M:%S") %></td>
        <% comment = p.race.comments.where(player_id: p.player.id).first%>
        <td><%= unless comment.nil? 
            comment.comment_text
            end
            %></td> <%# TODO: Surely this can be refactored %>
    
    </tr>
    <% end %>
</table>
</div>