<div class="race-info">
<% unless @race.goal.nil? 
  goal = @race.goal
end
%>
<h1><%= link_to Game.find(@race.game_id).name, @race.url %> - <%= goal %></h1>
<p id="race-goal"> 

</p>

<table>
<tr>
<th>Player</th>
<th>Time</th>
<th>Comment</th>
</tr>

<% @race.placements.each do |p|%>
    <tr>
        <td><%=link_to p.player.name, p.player%></td>
        <td><%= Time.at(p.time).utc.strftime("%H:%M:%S") %></td>
        <% comment = p.race.comments.where(player_id: p.player.id).first%>
        <td><%= unless comment.nil? 
            comment.comment_text
            end
            %></td> <%# TODO: Surely this can be refactored %>
    
    </tr>
    <% end %>
</table>
</div>