<div class="race-info">
<h1><%= link_to Game.find(@race.game_id).name, @race.url %></h1>
<p id="race-goal"> 
<%= unless @race.description.nil? 
        "Goal: #{@race.description}" 
    end
    %>
</p>

<table>
<tr>
<th>Player</th>
<th>Time</th>
<th>Comment</th>
</tr>

<% @race.placements.each do |p|%>
    <tr>
        <td><%=p.player.name%></td>
        <td><%=p.time%></td>
        <% comment = p.race.comments.where(player_id: p.player.id).first%>
        <td><%= unless comment.nil? 
            comment.comment_text
            end
            %></td> <%# TODO: Surely this can be refactored %>
    
    </tr>
    <% end %>
</table>
</div>