<div class="race-info">

<% goal = @race.goal unless @race.goal == '' %>

<%= content_tag :h1, class: "race-header" do %> 
<%= link_to(@race.game.name, Game.find(@race.game.id), id: "race-game-name") -%> - <%= link_to("Click for SRL/RTGG Page", @race.url, id: "race-game-name") if goal.nil? -%> 
<%= link_to(goal, @race.url, id: "race-goal") unless goal.nil? -%>
<% date = @race.date %>
<% j = date.strftime("%A") + date.strftime(", %B") + date.strftime(" %e") + date.strftime(", %Y")%>
<%= content_tag :div, j, id: "race-date" -%>
<% end %>

<table>
<tr>
<th>Player</th>
<th>Time</th>
<th>Comment</th>
</tr>

<% @race.placements.each do |p|%>
    <tr>
        <td><%=link_to p.player.name, p.player%></td>
        <td><%= Time.at(p.time).utc.strftime("%H:%M:%S") %></td>
        <% comment = p.race.comments.where(player_id: p.player.id).first%>
        <td><%= unless comment.nil? 
            comment.comment_text
            end
            %></td> <%# TODO: Surely this can be refactored %>
    
    </tr>
    <% end %>
</table>
</div>