
<table>
 <tr>
  <th class="top-left">Game Name</th>
  <th>Race Date</th>
  <th>Participants</th>
  <th>Duration</th>
  <th class="top-right">Winner</th>

  
 </tr>
 <% @races.sort_by(&:date).each do |race| 
  race_id = race.id
  date = race.date
  game_id = race.game_id
  url = race.url
  description = race.description
  goal = race.goal
  duration = race.duration
  game = Game.find_by_id(race.game_id)
%>
 <tr>
  <td><%= link_to game.name, race_path(race) %></td>
  <td><%= date %></td>
  <td><%= race.players.count %></th>
  <td><%= Time.at(duration).utc.strftime("%H:%M:%S") unless duration.nil? %>
  <td><%= link_to race.winner.name, race.winner %></th>
 </tr>
 <% end %>
</table>