<div class="games-info">
<h1> <%= @game.name %> </h1>

<p>Status: <%= @raced %> </p>
<p>Year: <%= @year %> </p>
<p>Publisher: <%= @publisher %> </p>
<p>Developer: <%= @developer %> </p>

<%= form_tag(start_race_path) do %>
  <%= text_field_tag 'goal', "Enter Race Goal" %>
  <%= hidden_field_tag 'name', @game.name %>
  <%= hidden_field_tag 'game_id', @game.id %>
  <%  if logged_in?  %>
  <%= button_tag "Start a race on Racetime.gg" %>
  <%    else %>
  <%= button_tag "You must be logged in to start a race on Racetime.gg via JenniferHawk", disabled: true %>
  <% end %>
<% end %>

<% if !@raced.nil? %>
<%= render partial: "times_raced" %>
<% end %>

</div>
