<div class="games-info">
<h1> <%= @game.name %> </h1>

<p>Status: <%= @raced %> </p>
<p>Year: <%= @year %> </p>
<p>Published: <%= @publisher %> </p>
<p>Developer: <%= @developer %> </p>

</div>