<div class="players-info">
<h1> <%= @player.name %> </h1>

<p>Twitch: <%=link_to "https://www.twitch.tv/#{@player.stream}"%></p>
</div>
<div class="races-table">
<h1>All Races</h1>
<table>
<tr>
<th>Race</th>
<th>Date</th>
<th>Placement</th>
<th>Time</th>
</tr>

<% @races.each do |race| %>
<% game = Game.where(id: race.game_id).first %>
<% placement = Placement.where(race_id: race.id, player_id: @player.id).first %>
<% time = Time.at(placement.time).utc.strftime("%H:%M:%S")%>
<tr>
<% puts game.name %>
<td id="player-race-name"><%= link_to game.name, race_path(race) %></td>
<td id="player-race-date"><%= race.date %></td>
<td id="player-race-placement"><%= placement.placement %></td>
<td id="player-race-time"><%= time == "00:00:00" ? "N/A" : time %></td>
</tr>
<% end %>
</table>
</div>
