<!DOCTYPE html>
<html>
  <head>
    <title>N64Mania</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', :defer => "defer"%>
   <%= favicon_link_tag asset_path('image-name.png') %>
  </head>

  <body>
  <nav>

<div class="nav-links">
  <div class="nav-link-box">
    <a href="/games" class="nav-link">All Games</a>
   
  </div><!-- nav-link-box -->
  <div class="nav-link-box">
    <a href="/races" class="nav-link">All Races</a>

  </div><!-- nav-link-box -->
  <div class="nav-link-box">
    <a href="/players" class="nav-link">All Players</a>
  
  </div><!-- nav-link-box -->
  <div class="nav-link-box">
    <a href="/games/unplayed" class="nav-link">All Unplayed Games</a> 
  </div><!-- nav-link-box -->
</div><!-- nav-links -->

</nav>

<%= yield %>
    <footer>
    <% comm = Comment.all.sample %>
    <p>N64Mania 2023. Alpha build. All content considered to be in flux. <%= link_to "#{comm.comment_text}", Race.find(comm.race_id) %></p>
    
    
    </footer>
  </body>
</html>
