<!DOCTYPE html>
<html>
    <head>
        <title>N64Mania</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', :defer => "defer"%>
        <%= favicon_link_tag asset_path('image-name.png') %>
    </head>

    <body>
        
        <div class="header-bar left"></div>
        <div class="header-bar right"></div>
        <div id="confined-body">
            <nav>
            <div class="nav-links">
           
                <%= render partial: "nav-link", locals: {href_path: "/games", title: "All Games"} %> 
                <%= render partial: "nav-link", locals: {href_path: "/races", title: "All Races"} %> 
                <%= render partial: "nav-link", locals: {href_path: "/players", title: "All Players"} %> 
                <%= render partial: "nav-link", locals: {href_path: "/games/unplayed", title: "All Unplayed Games"} %>
                
                <% unless logged_in? %> <!-- If Logged Out -->
                <%= form_tag('/auth/twitch', method: 'post', class: 'nav-links ', data: {turbo: false}) do %>
                    <button type='submit' class="nav-links nav-link-box twitch-button">Login with Twitch</button>
                    <% end %>
                <% else %> <!-- If Logged In -->
                    <%= link_to logout_path, class: "nav-link", method: "delete" do %>
                        
                        <%= content_tag(:div, "Log Out", class: "nav-link-box") %>
                    <% end %>
                    
                <% end %> 
                
            </div><!-- nav-links -->
            </nav>
           
            <!-- Style these for individual alert types; at least style them for one alert type -->
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name%> alert-dismissible fade show" role="alert">
                    <h6><strong><%= msg %></strong></h6>
                    
                </div>
            <% end %>
            <%= yield %>

            <footer>
            <% comm = Comment.all.sample %>
            <p>N64Mania 2023. Alpha build. All content considered to be in flux. <%= link_to "#{comm.comment_text}", Race.find(comm.race_id) %></p>
            </footer>
        </div>
       
        
        <%= debug(params) if Rails.env.development? %>
        
  </body>
</html>
